* {
  font-family: monospacem sans-serif;
  font-size: 1em;
}

body {
  text-align: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Buttons */
button {
  background-color: white;
  color: black;
  border-radius: 10% 10%;
}

button:hover {
  background-color: black;
  color: white;
}

/* Typography */
h1 {
  font-size: 4em;
  margin-top: 1em;
  margin-bottom: 1em;
}

h2 {
  font-size: 2.5em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

h3 {
  font-size: 2em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

h4 {
  font-size: 1.5em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

/* Programs */
.user_program {
  margin-bottom: 1em;
  border: 2px solid black;
}

.program_title {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

/* Exercise parameters */
.exercise_parameters {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.exercise_parameters input {
  margin-bottom: 1em;
  width: 250px;
}

.exercise_button,
.add_exercise_button {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 5px;
}

/* Exercise table */
.exercise_table thead {
  /* border-top: 2px solid black;
  border-bottom: 2px solid black;*/
}

.exercise_table th {
  /* background-color: lightsteelblue;*/
  font-weight: bold;
  border: 2px solid black;
  padding: 5px;
}

.exercise_table th:nth-child(even) {
  /*background-color: lightgrey;*/
}

/*.exercise_table td {
  background-color: darkgrey;
}

.exercise_table td:nth-child(even) {
  background-color: grey;
}*/
