* {
  font-family: monospacem sans-serif;
  font-size: 1em;
}

body {
  text-align: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Buttons */
button {
  background-color: white;
  color: black;
  border-radius: 10% 10%;
}

button:hover {
  background-color: black;
  color: white;
}

#program_button {
  background-color: lightgreen;
}

#program_button:hover {
  background-color: black;
}

.add_exercise_button {
  background-color: skyblue;
  margin-bottom: 10px;
}

.exercise_button {
  background-color: lightgreen;
}

.delete_program_button {
  background-color: tomato;
  color: white;
}

.exercise_button {
  margin-bottom: 5px;
  font-weight: bold;
}

.add_exercise_button,
.delete_program_button {
  padding-top: 10px;
  padding-bottom: 10px;
}

.delete_program_button {
  position: absolute;
  right: 5px;
  top: 5px;
}

.confirm_action_button {
  background-color: tomato;
  margin-bottom: 5px;
}

.cancel_action_button {
  background-color: lightgreen;
  margin-bottom: 5px;
}

.start_button {
  position: absolute;
  left: 5px;
  top : 5px;
  z-index: 2;
  padding: 10px;
  background-color: lemonchiffon;
  font-weight: bold;
}

/* Typography */
h1 {
  font-size: 4em;
  margin-top: 1em;
  margin-bottom: 1em;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2 {
  font-size: 2.5em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

h3 {
  font-size: 2em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

h4 {
  font-size: 1.5em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

/* Warning */
#warning {
  font-weight: bold;
  color: tomato;
}

/* Programs */
.user_program {
  margin-bottom: 1em;
  border: 2px solid black;
  position: relative;
}

.program_title {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  color: tomato;
}

.exercises_list {
  margin-top: 5px;
}

/* Exercise parameters */
.exercise_parameters {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.exercise_parameters h3 {
  margin-top: 0;
}

.exercise_parameters input {
  margin-bottom: 1em;
  width: 250px;
}

.confirm_program_deletion {
  display: none;
  position: absolute;
  right: 5px;
  top: 5px;
  z-index: 2;
  border: 2px solid tomato;
  background-color: white;
  padding: 5px;
}

.confirmation {
  color: tomato;
}

/* Exercise table */
.exercise_table th {
  font-weight: bold;
  border: 2px solid black;
  padding: 5px;
}


